* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
    max-width: 1600px;
    height: 92px;
    background-color: #FFFFFF;
    /* border: 6px solid red; */
}

.nav-logo {
    width: 139px;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    
}

nav .menu {
    width: 367px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
}

nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.btn {
    border-radius: 5px;
    padding: 12px 16px;
    align-items: center;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    flex-direction: row;
    border: none;
}
.btn:hover {
    background-color: #627382;
}

#hero-section {
    max-width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px 120px 134px 120px;
    background: url("../assets/hero-bg.png"), rgba(0, 25, 49, 0.8);
    /* border: 2px solid red; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-section .early-access-btn {
    background-color: #FFFFFF;
    border-radius: 1000px;
    opacity: 1000px;
    border: none;
    color: #30B868;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 16px;
}

#hero-section .early-access-btn:hover {
    color: rgb(214, 129, 24);
    background-color: antiquewhite;
}

#hero-section h1 {
    max-width: 770px;
    color: #FFFFFF;
    line-height: 1.1;
    margin-bottom: 16px;
}

#hero-section h1 .green {
    color: #30B868;
}

#hero-section p {
    max-width: 700px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

#hero-section .hero-btn {
    display: flex;
    gap: 17px;
}

#hero-section .btn-green {
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
}

#hero-section .btn-green:hover {
    color: rgb(214, 129, 24);
    background-color: antiquewhite;
}

#hero-section .btn-outline {
    background:transparent;
    /* border: none; */
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
}

#hero-section .btn-outline:hover {
    color: rgb(214, 129, 24);
    background-color: antiquewhite
}

#notes-section {
    max-width: 1600px;
    margin: 0 auto;
   
}

.notes-heading h1 {
    text-align: center;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
}

.notes-heading p {
    text-align: center;
    color: #627382;
    font-size: 16px;
    margin-top: 8px;
}

#notes-section .notes-card {
    display: flex;
    gap: 24px;
    margin-top: 45px;
    align-items: center;
    justify-content: center;
}

.notes-card .card-info {
    padding: 24px;
    max-width: 322px;
    height: 300px;
    text-align: center;
    box-shadow: 5px 5px 50px 0 #241d1d18;
    vertical-align: middle;
}

.card-info img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px ;
}

.card-info h3 {
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-top:  16px;
}

.card-info p {
    max-width: 274px;
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
    align-items: center;
}









