* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
    width: 1600px;
    height: 92px;
    background-color: #FFFFFF;
    /* border: 6px solid red; */
}

.nav-logo {
    width: 139px;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .menu {
    width: 367px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
}

nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.btn {
    width: 164px;
    height: 44px;
    border-radius: 5px;
    margin: 12px 16px;
    align-items: center;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    flex-direction: row;
    border: none;
}
.btn:hover {
    background-color: #627382;
}



